*.cov
build/
test/*.ll
!test/dictionary_public.ll
!test/cmplog_public.ll
*.log
submission.zip

# Test results
test/fuzz_output_*
test/output_*.txt
test/errors_*.txt
test/fuzzing_dict*

# Core dumps
core.*

!lib/
